._sbDialog {
  height: 100%;
}
._gs2mainlogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
._gs2mainlogin[signup-theme='dark'] {
  background-color: var(--bg-dark);
}
/* width */
._gs2logincol1::-webkit-scrollbar {
  width: 0px;
}

/* Track */
._gs2logincol1::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
._gs2logincol1::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
._gs2logincol1::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}
._gs2login {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  height: 100%;
}
._gs2logincol1 {
  background-color: #fff;
  width: 50%;
  height: 100%;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
[gs2logincol1-theme='dark'] {
  background-color: var(--bg-dark);
  color: rgb(233, 227, 227);
}

._authback {
  padding: 30px 0 36px 0;
  position: absolute;
  top: 0;
}
._authback svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
._gslogintophead {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #9c9c9c;
}
._gs2logincontent ._subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5a5a5a;
  width: 377px;
  padding-bottom: 10px;
}
._gs2logincontent > p span {
  color: #2fb087;
}
._gs2logincontent h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #393939;
  width: 387px;
  padding: 9px 0 16px 0;
}
._gs2logincontent h2[signup-theme='dark'],
._gs2logincontent p[signup-theme='dark'],
._gs2loginsignin button[signup-theme='dark'] {
  color: rgb(233, 227, 227);
}

/* Sign up button and input styles  */
._gs2logininput {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
._gs2logininput span:first-child {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
._gs2logininput div {
  margin: 8px 0;
  outline: none;
  width: 90%;
  max-width: 550px;
}
._gs2logininput input {
  margin: 8px 0;
  padding: 12px 16px 12px 12px;
  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 90%;
  max-width: 550px;
  color: #393939;
}
._g2loginoption {
  display: flex;
  align-items: center;
}

._gs2logininput a {
  border-radius: 2% !important;
  background-color: #fff !important;
  color: #5d387f !important;
  font-size: 13px;
}
._gs2logincontinue {
  width: 90%;
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
._gs2logincontinue button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 16px 40px;
  color: #fff;
  background: #5d387f;
  border-radius: 12px;
  text-transform: lowercase;
  transition: all 0.4s ease-in-out;
}
._gs2logincontinue button:hover {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 16px 40px;
  color: #fff;
  background: #392150;
  border-radius: 12px;
}
._gs2loginsignin a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 0;
  background-color: transparent;
}
._gs2loginsignin a:hover {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 0;
  background-color: transparent;
  color: black;
}

._gs2logincheck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 550px;
}
._gs2logincheck input[type='checkbox'] {
  width: 20px;
  opacity: 0;
  position: absolute;
}

._gs2logincheck label {
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* padding-left: 10px; */
}

._gs2logincheck label::before {
  content: '';
  border: 1px solid white;
  border-radius: 2px;
  background-color: white;
  margin-right: 10px;
  width: 20px;
  height: 13px;
  padding: 0px 8px;
}

input[type='checkbox']:checked + label::before {
  content: '\2713';
  visibility: visible;
  width: 20px;
  padding: 0px 2.8px;
  color: blue;
}
._gs2mainlogin p a {
  color: #279371;
  font-weight: 900;
}
._gs2logincol2 {
  background: #5d387f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 2% 4%;
  position: fixed;
  right: 0;
}
._gs2mainlogincol2body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12% 5%;
  height: 100%;
}
@media (min-height: 729px) {
  ._gcmainforgotcol2body {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
._gs2mainlogincol2images img:first-child {
  width: 100%;
  max-width: 418.72px;
}
._gs2mainlogincol2images img:last-child {
  margin: 20px 0 0 80px;
  width: 100%;
  max-width: 406.5px;
}
._gs2mainlogincol2content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 12%;
  max-width: 486px;
  width: 100%;
}
._gs2mainlogincol2content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin: 20px 0;
  color: #ffffff;
}

._gs2mainlogincol2content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #d5d5d5;
}
._gs2mainlogincol2footer {
  width: 100%;
  height: 20px;
}
._gs2loginslider {
  width: 100%;
  display: flex;
  justify-content: center;
}
._gs2loginslider svg {
  fill: rgb(240, 240, 240);
  width: 20px;
  cursor: pointer;
}
._dots {
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
._dots span:last-child {
  width: 12px;
  height: 12px;
  border-radius: 60%;
  margin: 0 5px;
  background-color: white;
}
._dots span:first-child {
  width: 12px;
  height: 12px;
  border-radius: 60%;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
._gs2sociallogincol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  max-width: 550px;
  margin-top: 120px;
}
._gs2sociallogincol p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 90%;
  display: flex;
  justify-content: center;
}
._gs2sociallogins {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 10px 0 20px 0;
}
._gs2sociallogins button {
  width: 30px;
  margin: 20px;
}
._gsloginforgot {
  cursor: pointer;
}
._gs2loginsignin {
  padding: 10px 0;
}
._gs2mainsignupcol2images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
._gs2mainsignupcol2images img:first-child {
  width: 100%;
  max-width: 418.72px;
}
._gs2mainsignupcol2images img:last-child {
  margin: 20px 0 0 80px;
  width: 100%;
  max-width: 406.5px;
}
@media only screen and (min-width: 849px) and (max-width: 1200px) {
}

@media only screen and (max-width: 389px) {
  ._gs2logincheck {
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 849px) and (max-width: 1100px) {
  ._gs2logincontinue {
    width: 90%;
    justify-content: center;
    flex-direction: column;
  }
  ._gs2logincontinue button {
    width: 100%;
    justify-content: center;
  }
  ._gs2logincol1 {
    justify-content: center;
  }
}
@media only screen and (max-width: 850px) {
  ._gs2sociallogincol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  ._gs2mainlogin {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  ._gs2login {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-bottom: 0;
    position: relative;
  }
  ._gs2logincol1 {
    width: 100%;
    height: auto;
    padding: 0;
    justify-content: space-between;
  }
  ._gs2logincontent {
    padding: 3% 5%;
  }
  ._gs2logincol2 {
    width: 100%;
    height: auto;
    justify-content: space-around;
    position: static;
  }
  ._gs2mainlogincol2body {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ._authback {
    padding: 0 0 36px 0;
    position: relative;
    top: 0;
    z-index: 1;
    margin: 10px 0;
  }
  ._gs2sociallogincol {
    justify-content: center;
    width: 100%;
  }
  ._authback svg {
    cursor: pointer;
    color: rgb(0, 0, 0);
  }
  ._gs2loginslider svg {
    visibility: hidden;
  }
  ._gs2logininput div {
    width: 100%;
    max-width: 100%;
  }
  ._gs2logininput input {
    width: 100%;
    max-width: 100%;
  }
  ._gs2logincontinue {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
  }
  ._gs2logincontinue button {
    width: 100%;
    justify-content: center;
  }
  ._gs2logininput {
    padding: 8px 0;
  }
  ._gs2logininput div {
    margin: 0;
  }
  ._gs2logininput span {
    padding: 10px 0;
  }
  ._gs2mainlogincol2images img:first-child {
    width: 100%;
    max-width: 313.18px;
  }
  ._gs2mainlogincol2images img:last-child {
    width: 100%;
    max-width: 298.15px;
  }
  ._gs2logincontent h2 {
    width: 100%;
    max-width: 387px;
    font-size: 24px;
    line-height: 31px;
    padding: 9px 0 16px 0;
  }
  ._gs2logincontent ._subtitle {
    width: 100%;
    max-width: 377px;
  }
  ._gs2loginsignin {
    padding-top: 16px;
  }
}

._sbmodalCol1Body {
  padding-right: 40px;
  color: #fff;
}
._sbmodalList div {
  display: flex;
  justify-content: flex-start;
  padding: 3% 0;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
._sbmodalList div p {
  padding-left: 6px;
}
._sbmodalTitle {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
._sbmodalTitle h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  padding: 10px 0;
}
._cpSummary {
  padding: 5% 0;
}
._cpSummary h3 {
  padding: 10px;
  margin: 25px 0;
}
._notifs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
._notifs b {
  padding: 10px 0;
}
._paystack {
  width: 350px;
  padding: 10px 0;
  border-radius: 10px;
  margin: 15px 0;
  border: 1px outset rgba(217, 217, 217, 0.788);
  background-image: url(../Assets//paystack.jfif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
._stripe {
  width: 350px;
  padding: 10px 0;
  border-radius: 10px;
  margin: 15px 0;
  border: 1px outset rgba(217, 217, 217, 0.788);
  background-image: url(../Assets//stripe.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
._flutterwave {
  width: 350px;
  padding: 10px 0;
  border-radius: 10px;
  margin: 15px 0;
  border: 1px outset rgba(217, 217, 217, 0.788);
  background-image: url(../Assets//flutterwave.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
._paymentTitle {
  margin: 20px 0;
  font-size: 25px !important;
  width: 100%;
  color: black;
}
._paymentTitle label {
  width: 100%;
}
._paymentMethod {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}
._paymentHeader {
  position: absolute;
  top: 0;
  text-align: left;
  width: 100%;
  z-index: 2;
}
._paymentChoice {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
._paymentback {
  width: fit-content;
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}
._paymentback svg {
  width: 25px;
}
._divider {
  margin-top: 10px;
}
._paymentButton {
  color: #7202db !important;
  border-color: #7202db !important;
  width: 100%;
}
._cpSummary {
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 30px 10px;
  margin-top: 30px;
  border-radius: 20px;
}
._cpSummarypayment {
  color: #522081;
  text-transform: capitalize;
  background-color: #d6d6d6;
  width: fit-content;
}
._sbCurrency {
  width: 350px;
  z-index: 1;
  margin-bottom: 20px;
  padding-top: 60px;
}
