._gcmainsignup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
._gcsignup {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  height: 100%;
}
._gcsignupcol1 {
  background-color: #fff;
  width: 50%;
  height: 100%;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._gcsignupcol1[step-theme='dark'],
._gcsignupcontent p:first-child[step-theme='dark'],
._gcsignupcontent h2[step-theme='dark'],
._gcsignupcontent ._subtitle[step-theme='dark'] {
  background-color: var(--bg-dark);
  color: rgb(233, 227, 227);
}
._gcsignupcontent p:first-child {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #9c9c9c;
}
._gcsignupcontent ._subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5a5a5a;
  width: 377px;
}
._gcsignupcontent > p span {
  color: #2fb087;
}
._gcsignupcontent h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #393939;
  width: 387px;
  padding: 9px 0 16px 0;
}

/* Sign up button and input styles  */
._gcsignupinput {
  display: flex;
  flex-direction: column;
  padding: 38px 0;
}
._gcsignupinput span:first-child {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
._gcsignupinput input {
  margin: 8px 0;
  padding: 12px 16px 12px 12px;
  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 90%;
  max-width: 550px;
}
._gcsignupinput ._gcsignupvalidate {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #279371;
}
._gcsignupcontinue button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 16px 40px;
  color: #fff;
  background: #5d387f;
  border-radius: 8px;
}
._gcsignupfooter p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5a5a5a;
  padding: 20px 0;
}
._gcmainsignup p a {
  color: #279371;
  font-weight: 900;
}
._gcsignupcol2 {
  background: #5d387f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 2% 4%;
}
._gcmainsignupcol2body {
  margin-top: 12%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._gcmainsignupcol2images img:first-child {
  width: 456_75px;
}
._gcmainsignupcol2images img:last-child {
  margin: -60px 0 0 80px;
  width: 434_84px;
}
._gcmainsignupcol2content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 12%;
  max-width: 486px;
  width: 100%;
}
._gcmainsignupcol2content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin: 20px 0;
  color: #ffffff;
}

._gcmainsignupcol2content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #d5d5d5;
}
._gcmainsignupcol2footer {
  width: 100%;
  height: 20px;
}
._gcsignupslider {
  width: 100%;
  display: flex;
  justify-content: center;
}
._gcsignupslider svg {
  fill: rgb(240, 240, 240);
  width: 20px;
  cursor: pointer;
}
._dots {
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
._dots span:first-child {
  width: 12px;
  height: 12px;
  border-radius: 60%;
  margin: 0 5px;
  background-color: white;
}
._dots span:last-child {
  width: 12px;
  height: 12px;
  border-radius: 60%;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
@media only screen and (min-width: 849px) and (max-width: 1200px) {
  ._gcmainsignupcol2images img:last-child {
    margin: -60px 0 0 10px;
  }
}

@media only screen and (max-width: 850px) {
  ._gcsignup {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100%;
    padding-bottom: 20px;
  }
  ._gcsignupcol1 {
    width: 100%;
    height: 50%;
  }
  ._gcsignupcol2 {
    width: 100%;
    height: 50%;
    justify-content: space-around;
  }
  ._gcmainsignupcol2body {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ._gcsignupslider svg {
    visibility: hidden;
  }
  ._gcsignupinput input {
    width: 100%;
    max-width: 100%;
  }
  ._gcsignupcontinue p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #0b303e;
    padding: 24px 0;
  }
  ._gcsignupcontinue button {
    width: 100%;
    justify-content: center;
  }
  ._gcsignupinput {
    padding: 25px 0;
  }
  ._gcmainsignupcol2images img:first-child {
    width: 100%;
    max-width: 313.18px;
  }
  ._gcmainsignupcol2images img:last-child {
    width: 100%;
    max-width: 298.15px;
  }
  ._gcsignupcontent h2 {
    width: 100%;
    max-width: 387px;
    font-size: 24px;
    line-height: 31px;
    padding: 9px 0 16px 0;
  }
  ._gcsignupcontent ._subtitle {
    width: 100%;
    max-width: 377px;
  }
}
@media only screen and (max-width: 410px) {
  ._gcmainsignupcol2images img:last-child {
    margin: -45px 0 0 10%;
  }
  ._gcmainsignupcol2images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
