@import '../../../../assets/styles/variables.scss';

.register {
    width: 100vw;
    height: 100vh;
    @include flexCenter(row);

    form {
        height: 40%;
        @include flexCenter(column);
        justify-content: space-between;
        text-align: left;

        input {
            border: 1px solid black;

        }

        button {
            background-color: $purpleBackground;
            border-radius: 8px;
            padding: 0px 10px;
        }
    }
}