@import '../../../assets/styles/variables.scss';

.quizgame {
    margin-top: 0px;
    width: 100vw;
    @include flexCenter(column);
    color: black;
    padding: 20px;

    &_card {
        @include flexCenter(column);
        justify-content: space-between;
        padding: 8px;

        // &__back {
        //     width: 100%;
        //     @include flexCenter(row);
        //     justify-content: flex-start;
        //     cursor: pointer;

        //     a {
        //         width: inherit;

        //         svg {
        //             height: 5rem;
        //             width: 3rem;
        //         }
        //     }
        // }

        &__content {
            @include flexCenter(column);
            width: inherit;
            text-align: center;

            &__heading {
                color: $greyColor;
                text-shadow: 1px 15px 5px #e8ddf2;
                font-size: 44px;
                font-family: $fontFamily1;
                font-weight: 700;
                margin-bottom: 10px;
            }

            &__question {
                font-family: $fontFamily2;
                margin: 15px 0px;
                font-size: 24px;
                width: inherit;
                letter-spacing: -1px;
                word-spacing: 3px;
            }

            &__answers {
                width: inherit;
                // display: grid;
                // grid-template-columns: repeat(2, 1fr);
                // grid-template-rows: repeat(2, 1fr);
                // grid-column-gap: 10px;
                // grid-row-gap: 10px;
                text-align: center;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 10px;

                li {
                    font-family: $fontFamily2;
                    cursor: pointer;
                    list-style: none;
                    border: 1px solid #e8ddf2;
                    border-radius: 8px;
                    background-color: #e8ddf2;
                    padding: 8px 0px;
                    font-size: 12px;

                    &:hover {
                        color: $greyColor;
                        background-color: $white;
                    }
                }
            }
        }
    }
}