@import '../../../assets/styles/variables.scss';

.quizgame {
    margin-top: 0px;
    width: 100vw;
    @include flexCenter(column);
    color: black;
    padding: 20px;
    overflow: hidden;

    &_card {
        width: inherit;
        @include flexCenter(column);
        justify-content: space-between;
        padding: 8px;

        &__content {
            @include flexCenter(column);
            width: 100%;
            text-align: center;

            &__heading {
                color: $greyColor;
                text-shadow: 1px 15px 5px #e8ddf2;
                font-size: 44px;
                font-family: $fontFamily1;
                font-weight: 700;
                margin-bottom: 10px;
            }

            &__question {
                font-family: $fontFamily2;
                margin: 15px 0px;
                font-size: 24px;
                width: inherit;
                letter-spacing: -1px;
                word-spacing: 3px;
            }

            &__answers {
                width: 100%;
                text-align: center;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 10px;
                place-items: center;

                li {
                    width: 90%;
                    font-family: $fontFamily2;
                    cursor: pointer;
                    list-style: none;
                    border: 1px solid #e8ddf2;
                    border-radius: 8px;
                    background-color: #e8ddf2;
                    padding: 15px;
                    font-size: 20px;

                    &:hover {
                        color: $greyColor;
                        background-color: $white;
                    }
                }
            }
        }

        &__score {
            margin-top: 50px;
            width: 100%;
            font-size: 30px;
            font-weight: 700;
            color: $greyColor;
        }
    }

    &__btn {
        margin-top: 80px;
        width: 100%;

        button {
            background-color: $purpleBackground;
            border: 1px solid $purpleBackground;
            border-radius: 8px;
            width: 200px;
            font-size: 24px;
            font-weight: 500;
            color: $white;
            padding: 10px;
        }
    }
}


/*************** media queries ***************************/

@media(min-width: $lg) {
    .quizgame {
        overflow-x: hidden;

        &_card {
            &__content {
                height: 500px;
                justify-content: space-between;

                &__answers {
                    width: 100%;
                    text-align: center;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 10px;
                    grid-row-gap: 50px;
                    place-items: center;

                    li {
                        width: 70%;
                        padding: 15px;
                        @include flexCenter(row);
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}