@import '../../../assets/styles/variables.scss';

.quizgame {
  width: 100%;
  @include flexCenter(column);
  color: black;
  padding: 10px 20px;
  // margin: 100px 0px;
  // overflow-x: hidden;

  &__img {
    width: 100%;
    @include flexCenter(row);
    justify-content: space-between;

    a {
      text-decoration: none;
    }

    &__timer {
      @include flexCenter(column);

      p {
        color: $purpleBackground;
        width: 102px;
        height: 23px;
        font-family: $fontFamily1;
        font-size: 14px;
        line-height: 23px;
        text-transform: uppercase;
        color: #8C54BF;
      }

      div {
        @include flexCenter(row);

        h2 {
          margin-left: 5px;
          color: black;
          font-size: 20px;

          span {
            color: #D7D7D7;
          }
        }
      }

    }
  }

  &_card {
    width: inherit;
    @include flexCenter(column);
    justify-content: space-between;
    padding: 10px;

    &__content {
      margin-top: 50px;
      @include flexCenter(column);
      width: 100%;
      text-align: center;

      &__heading {
        font-family: $fontFamily1;
        font-weight: 700;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        color: #8C54BF;
      }

      &__question {
        font-family: $fontFamily1;
        margin: 10px 0px;
        letter-spacing: -1px;
        word-spacing: 3px;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #393939;
        width: 100%;
      }

      &__answers {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        place-items: center;

        li {
          width: 90%;
          font-family: $fontFamily2;
          cursor: pointer;
          list-style: none;
          border: 1px solid #D7D7D7;
          border-radius: 8px;
          // background-color: #e8ddf2;
          padding: 15px;
          font-size: 20px;

          &:hover {
            color: $greyColor;
            background-color: $white;
          }
        }
      }
    }

    &__score {
      width: 100%;
      @include flexCenter(row);
      justify-content: flex-start;
      margin-top: 30px;
      margin-bottom: 150px;

      p {
        width: 250px;
        font-size: 30px;
        font-weight: 700;
        color: $greyColor;
      }

      button {
        margin-left: 80px;
        width: 100px;
        background-color: red;
        border: 1px solid red;
        padding: 10px;
        border-radius: 10px;

        a {
          width: inherit;
          font-weight: 500;
          color: $white;
        }
      }
    }
  }

  &__btn {
    margin-top: 50px;
    width: 100%;
    @include flexCenter(row);
    justify-content: space-between;

    &__next {
      background-color: #5D387F;
      border-radius: 12px;
      font-size: 16px;
      font-weight: 400;
      color: $white;
      width: 200px;
      padding: 16px 40px;
    }

    &__end {
      color: $white;
      padding: 16px 40px;
      width: 150px;
      background-color: #EC1B1B;
      border-radius: 12px;
    }
  }

  &__err {
    margin: 100px auto;

    h3 {
      color: red;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 30px;
    }

    a {
      border: 1px solid $greyColor;
      border-radius: 8px;
      background-color: $greyColor;
      color: $white;
      padding: 10px;
    }
  }
}

/*************** media queries ***************************/

@media (min-width: $md) {
  .quizgame {
    padding: 0px 50px;
    // height: 90vh;

    &_card {
      max-width: 800px;

      &__content {

        &__question {
          font-family: $fontFamily1;
          // margin: 30px 0px;
          margin-bottom: 50px;
          letter-spacing: -1px;
          word-spacing: 3px;
          font-weight: 700;
          font-size: 32px;
          // line-height: 62px;
          text-align: center;
          color: #393939;
        }

        &__answers {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 1fr);
          grid-row-gap: 50px;
          place-items: center;
          margin-bottom: 30px;

          li {
            padding: 15px;
            @include flexCenter(row);
            flex-wrap: wrap;
            overflow-y: hidden;
          }
        }
      }
    }
  }
}

@media (min-width: $lg) {
  .quizgame {
    justify-content: space-around;

    &_card {
      margin-top: 0px;

      &__content {
        margin-top: 0px;

        &__answers {
          width: 100%;
          text-align: center;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-row-gap: 20px;
          place-items: center;

          li {
            margin-bottom: 0px;
            max-height: 100px;
            width: 70%;
            padding: 15px;
            @include flexCenter(row);
            flex-wrap: wrap;
            overflow-y: hidden;
          }
        }
      }
    }
  }
}