._header {
  height: 80px;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
  color: #303030;
  z-index: 1100;
  width: 100%;
  padding: 1em 1em 1em 3em;
}
._header[nav-theme='dark']{
  background-color: #303030;
  color: #FFFFFF;
}
._header::before {
  z-index: 999;
}
._nvlogo {
  height: 70px;
  width: 25%;
}
._nvlogo img {
  height: 70%;
}
._nvmenu {
  width: 60%;
  z-index: 999;
  display: flex;
  justify-content: left;
}
._nvnav {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
._nvnav a {
  padding: 0 5px;
}
._nvstarted {
  width: 15%;
  z-index: 999;
}
._nvstarted button {
  background-color: #5d387f;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}
._nvstarted button:hover {
  background-color: #392150;
}
._mobilenav {
  background-color: transparent !important;
}
._mobilenav svg {
  width: 40px;
  margin: 0 5px;
}
@media only screen and (max-width: 1000px) {
  ._nvlogo {
    height: 70px;
    width: 45%;
  }

  ._nvstarted {
    width: 55%;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
  }
  ._nvlogo img {
    height: 60%;
  }

  ._nvnav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 40px;
  }
  ._nvnav a {
    padding: 15px 5px;
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  ._nvlogo {
    height: 80px;
    width: 100%;
  }
  ._nvlogo img {
    height: 40%;
  }
}
