* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: -8em;
  padding-top: 8em;
}
.main_container[contact-theme='dark'],
.container p[contact-theme='dark'],
.element1 label[contact-theme='dark'],
.element2 label[contact-theme='dark'],
.element3 label[contact-theme='dark'],
.element4 label[contact-theme='dark'],
.boxes[contact-theme='dark'] {
  background: var(--bg-dark);
  color: #e9e3e3;
}
.boxes[contact-theme='dark'] {
  color: #393939;
}
.p1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #393939;
}
.p2 {
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  color: #393939;
  padding-top: 32px;
}
.p3 {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #717171;
  margin-top: 16px;
}
form {
  margin-top: 72px;
}
.element1 {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.element2 {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.element3 {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.element4 {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.row1 {
  display: flex;
  justify-content: space-between;
}
.row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #0b0b0b;
}
input {
  padding: 12px 16px 12px 12px;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  margin-top: 8px;
}
.subject {
  padding-top: 105px;
  padding-bottom: 42px;
}
.boxes {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 9px;
  width: 15%;
  height: 106px;
  background: #f7f7f7;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}
.lastbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 9px;
  width: 15%;
  height: 106px;
  background: #5d387f;
  border: none;
  cursor: pointer;
  color: white;
}

textarea {
  width: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  height: 377px;
  margin-top: 8px;
  padding: 12px 16px 12px 12px;
  color: #d7d7d7;
}

.row3 {
  margin-top: 83px;
}

.send {
  text-align: center;
  padding: 126px 0px 130px 0px;
}

.btn {
  padding: 12px 40px;
  background: #5d387f;
  border-radius: 8px;
  color: white;
  border: none;
}

@media (max-width: 428px) {
  .p1 {
    margin-top: 12px;
    text-align: center;
  }
  .p2 {
    font-size: 24px;
    text-align: center;
  }
  .row1 {
    flex-direction: column;
  }

  .row2 {
    flex-direction: column;
    margin-top: 0px;
  }

  .row3 {
    flex-direction: column;
  }
  .boxes {
    flex-wrap: wrap;
  }
  .element1 {
    width: 100%;
  }
  .element2 {
    width: 100%;
    margin-top: 32px;
  }
  .element3 {
    width: 100%;
    margin-top: 32px;
  }
  .element4 {
    width: 100%;
    margin-top: 32px;
  }
  .subject {
    display: none;
  }
  .boxes {
    margin-top: 73px;
  }
  .box {
    width: 30%;
    margin-top: 20px;
  }
  .lastbox {
    width: 30%;
    margin-top: 20px;
  }
}
