@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  font-family: 'DM Sans', sans-serif;
  width: 100vw;
}
.mini_container{
  margin:1.5rem;
}
.hero_container{
  background-color: #5D387F;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.container {
  width: 100%;
  margin: auto;;
}
.hero_container[contact-theme='dark'],
.main_container[contact-theme='dark'],
.mini_container[contact-theme='dark'],
input[contact-theme='dark'],
textarea[contact-theme='dark'],
.container p[contact-theme='dark'],
.element1 label[contact-theme='dark'],
.element2 label[contact-theme='dark'],
.element3 label[contact-theme='dark'],
.element4 label[contact-theme='dark'],
.boxes[contact-theme='dark'] {
  background: var(--bg-dark);
  color: #e9e3e3;
}
.boxes[contact-theme='dark'] {
  color: #393939;
}

.h1{
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
  text-align:center;
  margin: 2rem;
}
.h2{
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  margin-top: 3rem;
}
.p1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  padding: 0 13rem;
  color: rgba(255, 255, 255, 0.75);
}
.p2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #303030;
}
.p3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9C9C9C;
}
.p4{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0B0B0B;
  padding-top: 2rem;
  margin-bottom:1rem;
}
.p5{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0B0B0B;
  padding-bottom:0.5rem;
}

.p6{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #393939;
  display: flex;
  padding-bottom: 0.5rem;
}

.element {
  display: flex;
  margin: 0 2rem;
  margin-top: 2rem;
  padding:0 1rem;
  flex-direction: column;
  width: 90%;
}
.element2 {
  display: flex;
  margin: 2rem;
  padding:0 1rem;
  width: 90%;
  flex-direction: column;
}

.form{
  box-sizing: border-box;
  border: 1px solid #C6AADF;
  border-radius: 16px;
  width: 95%;
}
.extra_areas{
  padding:1rem;
  margin: 0 1.5rem;
}
.reach{
  margin:2rem;
}
label {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #393939;
}
.input_container {
  padding: 12px 16px 12px 12px;
  border: 1px solid #D4D4D4;
  border-radius: 8px;
  color:black;
  margin-top: 8px;
  display: flex;
}
.subject {
  padding-top: 5px;
  font-size: 18px;
  font-weight: 700;
}
.boxes {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 9px;
  width: 155px;
  height: 82px;
  background: #F6F6F6;
  border-radius: 8px;
  margin-top: 0.2rem;
}
.box:hover{
  transform: scale(1.1);
  background: #5D387F;
  color: white;
}
.lastbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 9px;
  width: 155px;
  height: 82px;
  background: #5D387F;
  border-radius: 8px;
  color: white;
  margin-top: 0.2rem;
}
.lastbox:hover{
  transform: scale(1.1);
  background: #5D386B;
  color: black;
}


.textarea_container {
  width: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 12px;
  height: 300px;
  display:flex;
  margin-top: 8px;
  color: #d7d7d7;
  padding: 12px 16px 12px 12px;

}
textarea{
  width:100%;
}

.row3 {
  margin-top: 32px;
}
.row3 > label {
  font-size: 20px;
  font-weight: bold;
  color: #393939;
  line-height: 24px;
}

.send {
  text-align: center;
  margin-top: 1.5rem;
  padding: 10px 0px 10px 0px;
}

.btn {
  padding: 16px 40px;
  background: #5d387f;
  border-radius: 12px;
  color: white;
  border: none;
  width:100%;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background-color: #392150;
}

@media (max-width: 428px) {
  .hero_container{
    display:none;
  }
  .boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box {
    gap: 12px;
    width: 70px;
    height:92px;
  }
  .lastbox {
    gap: 12px;
    width: 70px;
    height: 94px;
  }
  .form{
    margin: 0;
    width:87%;
  }
}

@media (max-width: 815px) {
  .hero_container{
    display:none;
  }

  .form{
    margin: 0;
    width:87%;
  }
}

@media (max-width: 815px) {
  .hero_container{
    display:none;
  }
}
