._convo {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.99)),
    url('../../../assets/images/bg.webp');
  /* background-image: linear-gradient(to bottom, rgba(232, 221, 242, 0.99), rgba(232, 221, 242, 0.99)),
    url('../../../assets/images/bg.PNG'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

._bot_mic {
  position: relative;
}

._bot_mic img {
  z-index: 4;
}
._bot_mic span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  opacity: 0.8;
  animation: pulseAnimate 4s ease-out infinite;
  animation-delay: calc(1s * var(--i));
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes colorAnimate {
  100% {
    filter: hue-rotate(360deg);
  }
}
