.circle_one {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.circle_two {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.circle_three {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}