._gcmainforgot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
._gcforgot {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  height: 100%;
}
._gcforgotcol1 {
  background-color: #fff;
  width: 50%;
  height: 100%;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
._gcforgotcontent p:first-child {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #9c9c9c;
}
._gcforgotcontent > p span {
  color: #2fb087;
}
._gcforgotcontent h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #393939;
  width: 387px;
  padding: 9px 0 16px 0;
}

/* Sign up button and input styles  */
._gcforgotinput {
  display: flex;
  flex-direction: column;
  padding: 38px 0;
}
._gcresetLink {
  margin: 12px 0 18px 0;
}
._gcresetLinkText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5a5a5a;
}
._gcresetresend {
  position: absolute;
  bottom: 50px;
}
._gcresetresend span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5a5a5a;
  margin-top: -24px;
}
._gcresetresend span button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2fb087;
}
._gcforgotinput span:first-child {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
._gcforgotinput input {
  margin: 8px 0;
  padding: 12px 16px 12px 12px;
  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 90%;
  max-width: 550px;
}
._gcforgotinput ._gcforgotvalidate {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #279371;
}
._gcforgotcontinue button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 16px 40px;
  text-transform: capitalize;
  color: #fff;
  background: #5d387f;
  border-radius: 12px;
}
._gcforgotcontinue button:hover {
  background: #5d387f;
}
._gcforgotfooter p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5a5a5a;
  padding: 20px 0;
}
._gcmainforgot p a {
  color: #279371;
  font-weight: 900;
}
._gcforgotcol2 {
  background: #5d387f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 2% 4%;
}
._gcmainforgotcol2body {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-height: 729px) {
  ._gcmainforgotcol2body {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ._gcmainforgotcol2content {
    margin-top: 60px;
  }
}
._gcmainforgotcol2images img:first-child {
  width: 456_75px;
}
._gcmainforgotcol2images img:last-child {
  margin: -60px 0 0 80px;
  width: 434_84px;
}
._gcmainforgotcol2content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 12%;
  max-width: 486px;
  width: 100%;
}
._gcmainforgotcol2content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin: 20px 0;
  color: #ffffff;
}

._gcmainforgotcol2content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #d5d5d5;
}
._gcmainforgotcol2footer {
  width: 100%;
  height: 20px;
}
._gcforgotslider {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
._gcforgotslider svg {
  fill: rgb(240, 240, 240);
  width: 20px;
  cursor: pointer;
}
._dots {
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
}
._dots span:first-child {
  width: 12px;
  height: 12px;
  border-radius: 60%;
  margin: 0 5px;
  background-color: white;
}
._dots span:last-child {
  width: 12px;
  height: 12px;
  border-radius: 60%;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
._authback {
  padding: 0 0 36px 0;
  margin: 12% 0 5% 0;
}
._authback svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media only screen and (min-width: 849px) and (max-width: 1200px) {
  ._gcmainforgotcol2images img:last-child {
    margin: -60px 0 0 10px;
  }
}

@media only screen and (max-width: 850px) {
  ._authback {
    padding: 0 0 36px 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 15px 0 0 0;
  }
  ._authback svg {
    cursor: pointer;
    color: white;
  }
  ._gcforgot {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100%;
    padding-bottom: 20px;
  }
  ._gcforgotcol1 {
    width: 100%;
    height: 50%;
  }
  ._gcforgotcol2 {
    width: 100%;
    height: 50%;
    justify-content: space-around;
  }
  ._gcmainforgotcol2body {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ._gcforgotslider svg {
    visibility: hidden;
  }
  ._gcforgotinput input {
    width: 100%;
    max-width: 100%;
  }
  ._gcforgotcontinue p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #0b303e;
    padding: 24px 0;
  }
  ._gcforgotcontinue button {
    width: 100%;
    justify-content: center;
  }
  ._gcforgotinput {
    padding: 25px 0;
  }
  ._gcmainforgotcol2images img:first-child {
    width: 100%;
    max-width: 313.18px;
  }
  ._gcmainforgotcol2images img:last-child {
    width: 100%;
    max-width: 298.15px;
  }
  ._gcforgotcontent h2 {
    width: 100%;
    max-width: 387px;
    font-size: 24px;
    line-height: 31px;
    padding: 9px 0 16px 0;
  }
}
@media only screen and (max-width: 410px) {
  ._gcmainforgotcol2images img:last-child {
    margin: -45px 0 0 10%;
  }
  ._gcmainforgotcol2images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
