@import '../../../../assets/styles/variables.scss';

.newsletter {
  &_error {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: $greyColor;
    left: 0;
    top: 0;
    @include flexCenter(row);
    z-index: 2;

    &__card {
      background-color: $white;
      height: 402px;
      width: 379px;
      border-radius: 16px;
      padding: 32px 24px;
      @include flexCenter(column);

      &__close {
        width: inherit;
        @include flexCenter(row);
        justify-content: flex-end;

        img {
          cursor: pointer;
          margin-right: 30px;
          object-fit: contain;
        }
      }

      &__text {
        margin-top: 70px;
        width: 300px;
        text-align: center;
        @include flexCenter(column);

        h3 {
          margin-top: 16px;
          color: $redColor;
          font-family: $fontFamily1;
          font-size: 24px;
          font-weight: 700;
          line-height: 31px;
        }

        p {
          width: 200px;
          margin-top: 8px;
          color: $textColor;
          font-family: $fontFamily2;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          // text-align: justify;
        }

        a {
          display: none;
          color: $greenColor;
          height: 19px;
          width: 45px;
        }
      }
    }
  }
}

/*************** Media queries *************************/

@media (min-width: $md) {
  .newsletter {
    &_error {
      &__card {
        border-radius: 16px;
        height: 469px;
        width: 558px;
        padding: 36px;

        &__text {
          width: 100%;
          margin-top: 0px;
          text-align: left;
          @include flexCenter(column);
          align-items: flex-start;

          h3 {
            font-size: 32px;
            line-height: 41.66px;
          }

          p {
            width: 416px;
            margin-top: 8px;
            color: $textColor;
            font-size: 18px;
            line-height: 22px;
          }

          a {
            margin-left: 50px;
            text-decoration: none;
            margin-top: 48px;
            font-family: $fontFamily2;
            display: block;
          }
        }
      }
    }
  }
}
