@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

._termspage {
  font-family: 'DM Sans', sans-serif;
  margin-left: 10%;
  margin-right: 15%;
  margin-top: 3%;
  justify-content: center;
}
._effective {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  /* line-height: 150%; */
}

._terms {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  /* line-height: 62px; */
}

._txt {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
}

._heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 52px;
  margin-top: 2%;
  margin-bottom: 0.5%;
}

@media screen and (min-width: 20em) {
  ._heading {
    font-size: 20px;
  }
  ._terms {
    font-size: 25px;
  }
}

@media screen and (min-width: 30em) {
  ._heading {
    font-size: 20px;
  }
  ._terms {
    font-size: 25px;
  }
}
@media screen and (min-width: 40em) {
  ._heading {
    font-size: 28px;
  }
  ._terms {
    font-size: 30px;
  }
}
@media screen and (min-width: 62em) {
  ._heading {
    font-size: 28px;
  }
  ._terms {
    font-size: 30px;
  }
}
