* {
  font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Sans', sans-serif;
}
:root {
  --successColor: #2bac76;
  --failedColor: #cd2553;
  --warning: #e2ac37;
  --text-color: #0b303e;
  --greyScale300: #5a5a5a;
  --greyScale400: #393939;
  --greyScale500: #303030;
  --DM-font: 'DM Sans', sans-serif;
  --Inter: 'Inter', sans-serif;
  --greyScale100: #d7d7d7;
}
html {
  scroll-behavior: smooth;
}

._eV_dK,
._2N9dq {
  display: none !important;
}
._3neb0 {
  order: 2 !important;
}

._f2DT8 span {
  position: relative !important;
  animation: none !important;
}
._1YOWG {
  bottom: -90px !important;
}
._1YOWG,
._1Yplu {
  position: absolute;
  bottom: -120px;
  transform: translateX(-50%);
  left: 50%;
  width: max-content;
}

._1Yplu button {
  padding: 5px 10px;
}
._3neb0 {
  left: 8px;
  top: 8px;
  display: block !important;
  position: relative;
}
._3neb0 svg {
  color: #fff !important;
.slide {
  padding: 30px !important;
}
