* {
  font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Sans', sans-serif;
}
:root {
  --successColor: #2bac76;
  --failedColor: #cd2553;
  --warning: #e2ac37;
  --text-color: #0b303e;
  --greyScale300: #5a5a5a;
  --greyScale400: #393939;
  --greyScale500: #303030;
  --DM-font: 'DM Sans', sans-serif;
  --Inter: 'Inter', sans-serif;
  --greyScale100: #d7d7d7;
{
  
html {
  scroll-behavior: smooth;
}