/* Google font: Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #0f0e0e;
  --bg-light: rgb(255, 255, 255);
}
.label {
  @apply flex flex-col gap-1 text-[#344054];
}
._input {
  @apply border-2 py-4 px-2 rounded focus:outline-none;
}
._btnContainer {
  @apply w-full flex flex-col sm:flex-row justify-end gap-5 mt-16;
}
._legalcard {
  @apply bg-[#e8ddf2] py-8 px-4 flex gap-3 md:gap-0 md:flex-col md:text-center justify-center md:justify-start items-center rounded-xl
}
.no-space_ {
  margin: 0 !important;
}
[data-theme='light'] {
  background-color: var(--bg-light);
}
[data-theme='dark'] {
  background-color: var(--bg-dark);
}
/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}
