._subsPage {
  height: 100%;
  width: 100%;
}
.empty_state {
  position: relative;
  top: -20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty_state svg {
  margin: auto;
  margin-bottom: 0px;
  font-size: 90px;
  color: #ccc;
}
.empty_state h3 {
  margin: 8px 0px;
  text-align: center;
  font-weight: normal;
}
.empty_state p {
  font-size: 14px;
  margin: 0px;
  color: #999;
  text-align: center;
}
.empty_state button {
  outline: none;
  border: none;
  margin: 20px auto auto auto;
  width: fit-content;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 16px 40px;
  color: #fff;
  background: #5d387f;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}

._subsPage {
  padding: 20px;
  z-index: 1;
  position: relative;
}
._subsChildren {
  font-size: 14px;
  color: rgb(82, 82, 82);
}
._subsMain {
  padding-bottom: 30px;
}
._subsMain h2 {
  font-size: 20px;
  color: rgb(58, 58, 58);
  line-height: 30px;
}
._sbCancel {
  width: fit-content;
  right: 0;
}
._sbCancel button {
  cursor: pointer;
  font-size: 10px;
}
._isUserCancel {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}
