@import '../../../../assets/styles/variables.scss';

.nav {
    overflow-y: hidden;
    height: 80px;
    @include flexCenter(row);
    justify-content: flex-start;
    padding-left: 20px;
    border-bottom: 1px solid #f3f3f3;
    background-image: url(../../../../assets/newsletterImages/background2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.main {
    height: 100vh;
    padding: 20px;
    @include flexCenter(row);
    // overflow-y: hidden;

    .startgame {
        background-color: #fff;
        width: 100vw;
        height: 100%;
        border-radius: 24px;
        @include flexCenter(row);
        padding: 0px 20px;

        &_card {
            height: inherit;
            color: $greyColor;
            @include flexCenter(column);
            justify-content: space-around;

            &__img {
                width: 100%;
                @include flexCenter(row);
                justify-content: flex-end;
            }

            h1 {
                font-weight: 700;
                font-size: 40px;
                color: $headingColor;
                font-family: $fontFamily1;
            }

            p {
                color: #303030;
                text-align: center;
                font-size: 24px;
                font-family: $fontFamily2;
            }

            &__btn {
                width: 350px;
                @include flexCenter(row);
                justify-content: space-around;

                button {
                    // width: 98px;
                    height: 52px;
                    color: $white;
                    font-family: $fontFamily2;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    border-radius: 12px;
                    padding: 16px 32px;
                    background-color: $btnColor;
                }
            }

            &__exit {
                width: 100%;
                @include flexCenter(row);
                justify-content: flex-end;

                a {
                    width: 148px;
                    height: 51px;
                    border: 1px solid #EC1B1B;
                    @include flexCenter(row);
                    // padding: 16px 40px;
                    border-radius: 10px;
                    width: 100px;
                    font-weight: 400;
                    color: #EC1B1B;
                }
            }
        }
    }

    .logged {
        width: 100vw;
        height: 100vh;
        padding: 20px;
        @include flexCenter(column);

        &_text {
            margin-bottom: 50px;
            font-size: 34px;
            font-family: $fontFamily1;
        }
    }
}

/****************** media queries *****************************/

@media (min-width: $md) {

    .nav {
        height: 80px;
    }

    .main {
        overflow: hidden;

        .startgame {
            height: 70vh;
            width: 80vw;

            &_card {
                padding: 30px;
                justify-content: space-between;

                p {
                    font-size: 28px;
                }

                &__exit {
    
                    a {
                        width: 160px;
                        padding: 16px 40px;
                    }
                }
            }
        }
    }

}