@import '../../../../assets/styles/variables.scss';

.rank {
    background-color: $greyColor;
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 0;
    @include flexCenter(row);
    z-index: 2;
    color: $greyColor;
    @include flexCenter(row);

    &_card {
        width: 380px;
        height: auto;
        padding: 15px;
        background-color: $white;
        border-radius: 10px;

        &__img {
            @include flexCenter(row);
            justify-content: flex-end;
            cursor: pointer;
            // margin-top: 10px;
        }

        &__content {
            width: 100%;

            h2 {
                text-align: center;
                color: $greenColor;
                font-size: 20px;
                font-family: $fontFamily1;
                margin: 10px 0px;
            }

            table {
                margin-top: 10px;
                width: inherit;
                text-align: left;
                font-family: $fontFamily2;

                tr {
                    width: 100%;
                    @include flexCenter(row);
                    justify-content: space-between;
                }

                td {
                    // width: 100%;
                    padding-right: 50px;
                   
                    text-align: center;
                }
            }
        }
    }
}