@import '../../../../assets/styles/variables.scss';

.rank {
    background-color: $greyColor;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 0;
    @include flexCenter(row);
    z-index: 2;
    color: $greyColor;

    &_card {
        max-height: 50vh;
        width: 380px;
        // height: auto;
        overflow-y: scroll;
        padding: 15px;
        background-color: $white;
        border-radius: 10px;

        &__img {
            @include flexCenter(row);
            justify-content: flex-end;
            cursor: pointer;
            // margin-top: 10px;
        }

        &__content {
            width: 100%;

            &__top {
                @include flexCenter(row);
                justify-content: flex-start;
                margin-bottom: 50px;

                &__text {
                    margin-left: 15px;
                    @include flexCenter(column);
                    align-items: flex-start;
                    width: 80%;
                    color: $greyColor;

                    h2 {
                        font-size: 24px;
                        font-weight: 700;
                    }
                }
            }

            table {
                margin-top: 10px;
                width: inherit;
                border-collapse: collapse;
                font-family: $fontFamily2;

                th {
                    text-align: center;
                    font-size: 14px;
                    border-right: 1px solid #dddddd;
                    border-bottom: 1px solid black;
                }

                td {
                    padding: 8px;
                    border: 1px solid #ddd;
                    text-align: left;
                }
            }
        }
    }
}

@media (min-width: $md) {
    .rank {
        &_card {
            width: 50vw;
        }
    }
}